body{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('img/food.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    color: rgb(28, 28, 114);
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 90px;
}
h4{
    font-size: 20px;
}
p{
    font-size: 18px;
}
.card{
    font-size: 18px;
}
marquee{
    font-size: 30px;
    font-weight: 800;
    color: #da4343;
    font-family: sans-serif;
    }

    #line {

        border-left: 2px solid;
        height: 330px;
        position: absolute;
        left: -10%;
        color: #2697f3;
        /* margin-top: 90px; */
        margin-left: 80px;
    }
    #container{
        background: rgb(199, 199, 198);
    }